.App-bg {
  background-color: #333741;
  height: fit-content;
}


@media (orientation: portrait) {

  .App-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Cont-body {
    font-size: xxx-large;
    /*size and margin*/
    margin: 10px;
    height: 400px;

    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (orientation: landscape) {
  .App-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .App-body{
    font-size: x-large;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    flex-direction: column;
    height: 100vh;
  }

  .Cont-body {

    /*size and margin*/
    margin: 10px;
    height: auto;

    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #333741;
  bottom: 0;
}