* {
    font-family: 'Lato', sans-serif;
}

.CardContainer {
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 15px;
    width: 300px;
    height: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #343434;
}

.CardImage {
    display: flex;
}

.Image {
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 5px;
}

/*.ImageFooter {*/
/*    text-decoration: none;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.CardTitle{*/
/*    font-weight: bold;*/
/*    margin-bottom: 10px;*/
/*}*/

.CardLink {
    color: #FF0000;
    text-decoration: none;
}

.CardTags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
