* {
  font-family: 'Lato', sans-serif;
}

.CardContainer {
  border-radius: 5px;
  margin: 10px;
  background-color: #f6f6f6;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 10px #343434;
  height: 450px;
}

.CardImage {
  display: flex;
}

.Image {
  object-fit: cover;
  height: 200px;
  width: 100%;
  margin-bottom: 5px;
}

.ImageFooter {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

.CardTitle {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.CardLink {
  color: #364133;
}

.CardTags {
  margin-bottom: 10px;
}

li {
  color: black;
  display: flex;
}

ul li::before {
  content: "\2022";
  color: green;
  display: inline-block;
  width: 1em;
  margin-left: -0.9em;
  font-weight: bold;
  font-size:1.1rem;
}
