.Landing{
    font-weight: bold;
    border-color: #94e06b;
    background-color: transparent;
    border-style: solid;
    padding: 10px;
    border-radius: 20px;
    font-size: larger;
    cursor: pointer;
}

.Landing:hover{
    background-color: #94e06b;
    transition: 0.4s;
}

.Home {
    margin: 0;
    padding: 0;
    height: 70px;
    border-color: transparent;
    background-color: transparent;
    background-image: url('/src/images/Regular_blob_yellow.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    cursor: pointer;
}

.Home:hover {
    font-size: 40px;
    transition-duration: 0.4s;
    text-decoration: underline
}

.Search {
    background-color: transparent;
    border-color: #94e06b;
    border-style: solid;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    font-size: larger;
    cursor: pointer;
}

.Search:hover {
    background-color: #94e06b;
    transition-duration: 0.4s;
}

.Create, .Upload {
    border-color: #ffb000;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
    border-style: solid;
}

.Upload:hover {
    background-color: #ffb000;
    transition-duration: 0.4s;
}

.Create:hover {
    background-color: #ffb000;
    transition-duration: 0.4s;
}

.Reset {
    background-color: transparent;
    color: black;
    border-width: 2px;
    border-color: #ff004d;
    border-radius: 20px;
    padding: 10px;
    font-size: larger;
    cursor: pointer;
    border-style: solid;
}

.Reset:hover {
    background-color: #ff004d;
    transition-duration: 0.4s;
}