.LandingPage{
    background-image: url('/src/images/blurry_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.LandingTextContainer{
    background-image: url('/src/images/Regular_blob.svg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.LandingTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xxx-large;
    font-weight: bolder;
}

.LandingSubtitle {
    margin-top: 20px;
    margin-bottom: 40px;
}

.Resaltado {
    color: #ffb000;
}

@media (orientation: portrait) {
    .LandingTextContainer{
        background-size: 600px;
        height: available;
    }
}

@media (orientation: landscape) {
    .LandingTextContainer{
        background-size: 700px;
    }
}
